<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

            <!-- Branding Image -->
          <a class="navbar-brand" ui-sref="home">
            Super-Puper
          </a>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->
          <ul class="nav navbar-nav">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="articles">Articles</a></li>
          </ul>

          <!-- Right Side Of Navbar -->
          <div ng-controller="SignTempController as stc">
              <!-- Authentication Links -->
            <!-- <% if (!user) { %> -->
            <div ng-if="!stc.isAuth">
              <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="signin">Login</a></li>
                <li><a ui-sref="signup" style=" margin-right: 30px;">Register</a></li>
              </ul>
              </div>

            <!-- <% } else { %> -->
            <div>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="#">{{stc.user.username}}</a>
                </li>
                <li ng-controller="SignOutController as soc">
                  <a href="#" ng-click=soc.logout() style="margin-right:30px"><i class="fa fa-btn fa-sign-out" ></i>Logout</a>
                </li>
              </ul>
            </div>

            <!-- <% } %> -->
          </div>
        </div>
    </div>
</nav>
