<!DOCTYPE html>
<html ng-app="blog">
  <head>
    <title></title>
    <link rel='stylesheet' href='css/style.css' />
    <link rel="stylesheet" href="vendor/bower_components/bootstrap/dist/css/bootstrap.css">
    <!--libs-->
    <script src="vendor/bower_components/angular/angular.js"></script>
    <script src="vendor/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="vendor/bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="vendor/bower_components/angular-strap/dist/angular-strap.tpl.js"></script>

    <!-- <script src="gulpjs/index.js"> -->

    <script src="js/main.js"></script>
    <!--app & config-->
    <!-- module -->
    <!-- <script src="app/app.module.js"></script>
    <script src="app/core/core.module.js"></script>
    <script src="app/blocks/blocks.module.js"></script>
    <script src="app/blocks/services/services.module.js"></script>
    <script src="app/pages/article/article.module.js"></script>
    <script src="app/pages/auth/auth.module.js"></script>

    <script src="app/app.config.js"></script>
    <script src="app/pages/article/article.config.js"></script>
    <script src="app/pages/auth/auth.config.js"></script> -->
    <!-- <script src="app/pages/auth/signIn/signIn.config.js"></script>
    <script src="app/pages/auth/signUp/signUp.config.js"></script> -->

    <!-- <script src="app/blocks/services/article.service.js"></script>
    <script src="app/blocks/services/auth.service.js"></script>

    <script src="app/core/core.controller.js"></script>
    <script src="app/pages/article/list/article.controller.js"></script>
    <script src="app/pages/article/new/create.controller.js"></script>
    <script src="app/pages/auth/signIn/signIn.controller.js"></script>
    <script src="app/pages/auth/signUp/signUp.controller.js"></script>
    <script src="app/pages/auth/signOut/signOut.controller.js"></script> -->


  </head>
  <body ng-controller="CoreController as cc" class="container">
    <%-partial('./partials/nav')%>
    <div ng-include="nav.ejs"></div>
    <div ui-view>

    </div>

    <script src="vendor/bower_components/jquery/dist/jquery.js"></script>
    <script src="vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
