<content class="container">
  <h1 class="container">Articles</h1>
  <hr>
  <div ui-view>

  </div>

  <a ui-sref="articles.create" class="btn btn-info btn-lg">
    New Article
  </a>
  <article ng-repeat="article in ac.articles">
    <h2>
      <a ui-sref="articles.details({articleId:article._id})">{{article.title}}</a>
    </h2>
    <!-- <div class="body">
      {{article.body}}
    </div> -->

    <pre>
      <div ta-bind ng-model="article.body"></div>
    </pre>
  </article>
</content>
